wheel
ninja

numpy
scipy
einops
einx

torch
torchvision
torchcodec
torchaudio
tensordict

typing-extensions==4.12.2
openai==1.58.1
google-genai
anthropic
comet_ml
matplotlib
ipykernel
friendlywords
editdistance
tqdm
imageio
ffmpeg-python

boto3
requests
uvicorn[standard]
aiohttp
aiofiles
fastapi

psutil
librosa
av==12.0.0
llvmlite==0.43.0
numba==0.60.0
pycocotools
kagglehub
vector_quantize_pytorch
zuko
decord
opencv-python